.main {
  width: 100%;
  display: flex;
  background-color: #f5f5f5;
}

/* buscador */
.container-buscador{
  display: block;
  width: auto;
  background-color: #f5f5f5;
  border-color: #57a1fc;
  position: relative;
}

.cuadro-busqueda{
  width: 70%;
  background-color: #f5f5f5;
  position: fixed;
  padding: 10px;
  padding-right: 50px;
  border-radius: 5px;
  border-color: #57a1fc;
  margin-top: 10px;
  margin-left: 0px;
}

.btn-submit{
  display: none;
}

.titulo-principal{
  font-size: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #ffffff;
  margin-left: 25px;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: left;
  color: #989898;
  margin-bottom: 10px;
  /* float: top; */
  position: fixed;
  top: 1;
  
}

#products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1.5fr));
  grid-gap: 80px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 60px 80px;
  border-radius: 10px;
  width: 70%;
}

.carrito {
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .carrito h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .lista-productos {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .lista-productos li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
  
  .lista-productos li:last-child {
    border-bottom: none;
  }
  
  .lista-productos li .nombre-producto {
    font-weight: bold;
  }
  
  .lista-productos li .precio-producto {
    color: #999;
    font-size: 0.9em;
  }
  
  .total {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .total span {
    color: #f00;
  }
  
  .vaciar-carrito {
    display: block;
    margin-top: 10px;
    padding: 5px;
    background-color: #002655;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .vaciar-carrito:hover {
    background-color: #002655;
  }

  /* Contenedor principal */
.container {
  display: flex;
  flex-direction: row;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 20px;
}

/* Productos */
.producto {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.producto img {
  max-width: 100%;
}

.producto h3 {
  font-size: 20px;
  margin-top: 10px;
}

.producto p {
  font-size: 16px;
  margin: 10px 0;
}

.producto .precio {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.producto button {
  background-color: #002655;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
}

.producto button:hover {
  background-color: #002655;
}

/* Carrito */
.carrito {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.carrito h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.carrito ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carrito li {
  font-size: 16px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carrito li .cantidad {
  width: 50px;
  text-align: center;
}

.carrito li .precio {
  font-weight: bold;
}

.carrito .total {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

/* estilos para el side bar  */
.sidebar {
  width: 20%;
  float: right;
  position: fixed;
  top: 1;
  right: 0;
}

/* Estilos para la tarjeta de producto */
.product-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  
}

/* Estilos para el título del producto */
.product-card__title {
  color: #002655;
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* Estilos para la imagen del producto */
.product-card__image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 150px;
  object-fit: cover;
}

/* Estilos para el precio del producto */
.product-card__price {
  color: #002655;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Estilos para el botón de añadir al carrito */
.product-card__button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
    background: linear-gradient(45deg, #57a1fc, #2487ff);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
}

.product-card__button:hover {
  background: #002655;
  justify-content: center;
  cursor: pointer;
}

.producto-card{
  display: flex;
  flex-direction: column;
  width: 200px;
}

.cart {
  padding: 10px;
  width: 20%;
  background-color: #f5f5f5;
  padding: 60px 80px;
  border-radius: 10px, 0px, 0px, 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 200px;

}

.cart h2 {
  margin: 0;
  font-size: 20px;
}

.cart-items {
  margin-top: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  
}

.cart-item img {
  width: 50px;
  height: 50px;
}

.cart-item-name {
  flex: 1;
  margin: 0 10px;
}

.cart-item-price {
  font-weight: bold;
}

.cart-total {
  display: inline;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 60px;

}

.cart-total h3 {
  margin: 0;
  margin-top: 20px;
}

.cart-total button {
  background-color: #002655;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  height: 50px;
  margin-top: 20px;
}

.cart-total button:hover {
  background-color: #002655;
}

.precio-carrito{
  float:right;
}
